<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  </head>
  <body>
    <h1>Welcome to Blocmarks, <%= @user.name %></h1>
    <p>You have successfully signed up to Blocmarks. Your username is: <%= @user.login %>.<br></p>
    <p>To login to the site, just follow this link: <%= @url %>.</p>
    <p>Thank you for joining!</p>
  </body>
</html>
